.experienceBox {
  /* Experiences should be displayed vertically */
  display: block;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 2rem;
  margin: 1rem;
}

.experience {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 1rem;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  margin: 1rem;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.dates {
  font-style: italic;
  color: #888;
}

.logo {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #999;
}

.description {
  font-style: normal !important;
}

.content {
  /* Align the Title and info to the left */
  margin-right: auto;
}

.edit {
  position: absolute;
  padding: 0.3rem 0.42rem;
  border-radius: 5rem;
  margin: -1rem;
  background-color: rgb(248 185 42);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
}

.autogenerate-description-button {
  font-weight: 700;
  border-radius: 10px;
  background-color: rgb(255 204 102);
}

.autogenerate-description-button:hover {
  background-color: rgb(255, 236, 159);
}

.logo-edit {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #999;
  margin-right: 1.5rem;
  margin-bottom: 0.5rem;
}

.logo-edit img {
  margin-top: 0.5rem;
}

.editForm {
  margin-top: 0.5rem;
}

.editForm input {
  max-width: 10rem;
  padding: 0.2rem;
  padding-left: 0.4rem;
  font-size: medium;
  border-radius: 0.5rem;
  border: 1px solid #999;
  margin-bottom: 0.5rem;
}

textarea {
  max-width: 21.7rem;
  padding: 0.2rem;
  padding-left: 0.4rem;
  font-size: large;
  border-radius: 0.5rem;
  border: 1px solid #999;
  margin-bottom: 0.5rem;
}

@media only screen and (max-width: 800px) {
  .editForm input {
    max-width: 30rem;
  }

  textarea {
    max-width: 30rem;
  }

  .experience {
    flex-direction: column;
  }

  .logo-edit {
    margin-right: 0.5rem;
  }
}
