
.experienceBox {
  /* Experiences should be displayed vertically */
  display: block;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 2rem;
  margin: 1rem;
}

.experience {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 
              0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 1rem;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  margin: 1rem;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dates {
  font-style: italic;
  color: #888;
}

.logo {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #999;
}

.description {
  font-style: normal !important;
}