
.skillBox {
  /* Skills should be displayed horizontally in 3 by 3 blocks */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 2rem;
}

.skill {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 
              0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 1rem;
  padding: 0rem 2rem;
  margin-bottom: 2rem;
}