body {
  background-color: rgb(29, 83, 159);
}

.App {
  text-align: center;
  color: white;
}

.resumeSection {
  background-color: white;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 50rem;
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-bottom: 20px;
  color: black;
}

.resumeSection p {
  font-style: italic;
}

button {
  padding: 1rem;
  font-size: large;
  font-weight: bold;
  border-radius: 2rem;
  background-color: rgb(248 185 42);
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-bottom: 0.5rem;
  cursor: pointer;
}

/* Continue shrinking the resumeSection responsively */
@media only screen and (max-width: 900px) {
  .resumeSection {
    width: 95%;
  }
}


